<%- include('partials/headMap') %>

    <%- include('partials/navbar.ejs') %> 
    
    <div class="row mb-3"><div  class="col-10 offset-1">
      <div class="card" >
        <!-- <img src="<%=spot.image%>" class="card-img-top" alt="IMG"> -->
        
        <div class="card-body">
          <h5 class="card-title"><%= spot.spotName %></h5>
          <%if(spot.hasCoordinates){%>
            
            
    <!--The div element for the map -->
    <div style= "height: 400px;
    width: 100%"id="map"></div>

    <!-- 
     The `defer` attribute causes the callback to execute after the full HTML
     document has been parsed. For non-blocking uses, avoiding race conditions,
     and consistent behavior across browsers, consider loading using Promises
     with https://www.npmjs.com/package/@googlemaps/js-api-loader.
    -->
  
 
    <script
      src= "<%=apiKey%>"
      async
      defer
    ></script>
    <li class="list-group-item mb-2"><%= spot.coordinates.Lat+"   "+spot.coordinates.Lon%>  </li>
        <% } %> 
        <% if(spot.info.description) { %><p class="card-text">Description: <%= spot.info.description %></p><%}%>
        <% if(spot.info.atmosphere) { %><p class="card-text">Atmosphere: <%= spot.info.atmosphere %></p><%}%>
        <% if(spot.info.general) { %><p class="card-text">General: <%= spot.info.general %></p><%}%>
        </div>
        <ul class="list-group list-group-flush">
          <%if(spot.locationStringify()!==''){%>
          <li class="list-group-item">Location: <%= spot.locationStringify()%> </li>
         <% }else{ %>
           <li class="list-group-item">Location: 1<%= spot.location.longFormLocation%> </li>
         <%} %> 
          
          <li class="list-group-item">
            <h5>Surf Spot Quality</h5>
            <% if(spot.surfSpotQuality.waveQuality ) { %><p class="fw-light mb-0">Wave Quality: <%= spot.surfSpotQuality.waveQuality %> </p><%}%>
            <% if(spot.surfSpotQuality.experience) { %><p class="fw-light mb-0">Experience Level: <%= spot.surfSpotQuality.experience %> </p><%}%>
            <% if(spot.surfSpotQuality.frequency ) { %><p class="fw-light mb-0">Consistency: <%= spot.surfSpotQuality.frequency %></p><%}%>
          </li>
          
          <li class="list-group-item">
          <h5>Wave Characteristics</h5>
          <% if(spot.waveChars.type) { %><p class="fw-light mb-0">Break Type: <%= spot.waveChars.type %></p><%}%>
          <% if(spot.waveChars.direction) { %><p class="fw-light mb-0">Break Direction: <%= spot.waveChars.direction %></p><%}%>
          <% if(spot.waveChars.bottom) { %><p class="fw-light mb-0">Bottom Type: <%= spot.waveChars.bottom %></p><%}%>
          <% if(spot.waveChars.power) { %><p class="fw-light mb-0">Wave Power <%= spot.waveChars.power %></p><%}%>
          <% if(spot.waveChars.length) { %><p class="fw-light mb-0">Average Wave Length: <%= spot.waveChars.length %></p><%}%>
          <% if(spot.waveChars.goodlength) { %><p class="fw-light mb-0">Good Wave Length: <%= spot.waveChars.goodlength %></p><%}%>
          </li>
          <li class="list-group-item">
            <h5>Ideal Environmentals: </h5>
            <% if(spot.enviroChars.windDir) { %><p class="fw-light mb-0">Wind Direction: <%= spot.enviroChars.windDir%></p><%}%>
            <% if(spot.enviroChars.swellDir) { %><p class="fw-light mb-0">Swell Direction: <%= spot.enviroChars.swellDir %></p><%}%>
            <% if(spot.enviroChars.swellSize) { %><p class="fw-light mb-0">Swell Size: <%= spot.enviroChars.swellSize %></p><%}%>
            <% if(spot.enviroChars.tidePos) { %><p class="fw-light mb-0">Tide Position:<%= spot.enviroChars.tidePos %></p><%}%>
            <% if(spot.enviroChars.tideMov) { %><p class="fw-light mb-0">Tide Direction: <%= spot.enviroChars.tideMov %></p><%}%>
            </li>
            <li class="list-group-item">
              <h5>Access: </h5>
              <% if(spot.access.description) { %><p class="fw-light mb-0">Description: <%= spot.access.description %></p><%}%>
              <% if(spot.access.distance) { %><p class="fw-light mb-0">Distance: <%= spot.access.distance%></p><%}%>
              <% if(spot.access.walk) { %><p class="fw-light mb-0">Walk: <%= spot.access.walk %></p><%}%>
              <% if(spot.access.easyToFind) { %><p class="fw-light mb-0">Ease of Location: <%= spot.access.easyToFind %></p><%}%>
              <% if(spot.access.publicAccess) { %><p class="fw-light mb-0">Public Access?: <%= spot.access.publicAccess %></p><%}%>
              <% if(spot.access.specialAccess) { %><p class="fw-light mb-0">Special Access?: <%= spot.access.specialAccess %></p><%}%>
              </li>
            <li class="list-group-item">
              <h5>Miscellaneous Information: </h5>
              <% if(spot.miscDetails.weekCrowd) { %><p class="fw-light mb-0">Crowd During Week: <%= spot.miscDetails.weekCrowd %></p><%}%>
              <% if(spot.miscDetails.weekendCrowd) { %><p class="fw-light mb-0">Crowd During Weekend: <%= spot.miscDetails.weekendCrowd%></p><%}%>
              <% if(spot.dangers) { %><p class="fw-light mb-0">Dangers: <%= spot.dangers %></p><%}%>
              </li>
        </ul>
        <div class="card-body">
          <p><b>Note: </b>Edit and Delete temporarily disabled pending implementation of permissions</p>
          <a href="/surfspots/edit/<%=spot._id%>" class="card-link btn btn-info">Edit</a>
          <form class='d-inline'action="/surfspots/<%=spot._id%>?_method=DELETE" method="post"><button class="card-link btn btn-danger">Delete</button>
          </form>
        </div>
      </div>

    </div></div>
    
      
    </main>
  
    <%-include('partials/footer')%>
